* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

nav {
    z-index: 10;
}

.nav-header {
    background-image: url('../img/header-backround.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-y: -10px;
    background-size: 75%;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.eraconnect {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.055em;
    text-align: left;
}

.landing-button a {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    width: 175px;
    height: 50px;
    border-radius: 2px;
    color: white;
    margin-right: 30px;
}

.landing-button a:hover {
    color: white;
}

.landing-text {
    padding-right: 10px;
    color: white;
}

.landing-text h1 {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.landing-text h2 {
    font-family: Lato;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}

.landing-text p {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.landing-image img {
    display: block;
    width: 100%
}

.resume-btn {
    background: #EB8145;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
}

.subscribe-btn {
    border: solid white 1px
}

section {
    padding: 50px 0px;
}

.section-heading {
    position: relative;
}

.ruler-1 {
    position: absolute;
    top: -8px;
    width: 50px;
    height: 4px;
    background: #EB8145;
    border-radius: 100px;
}

.ruler-2 {
    position: absolute;
    top: 10px;
    width: 50px;
    height: 4px;
    background: #EB8145;
    border-radius: 100px;
}

.ruler-3 {
    position: absolute;
    bottom: 0px;
    width: 30px;
    height: 4px;
    background: #EB8145;
    border-radius: 100px;
}

.ruler-4 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 4px;
    background: #EB8145;
    border-radius: 100px;
}

.ruler-5 {
    position: absolute;
    top: -10px;
    width: 50px;
    height: 4px;
    background: #EB8145;
    border-radius: 100px;
}

.see-more-info {
    color: #EB8145;
}

.modal-header {
    position: relative;
}

.section-heading h2 {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
}

.section-content p {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #6E6E70;
}

.heading-text {
    position: relative;
}

.heading-text h4 {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.card {
    background: transparent;
}

.card-p p {
    color: #4F4F4F;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 160%;
    text-align: left !important;
}

.card-img img {
    width: 80px;
    height: 80px;
}

.upload-resume {
    margin-top: 100px;
    text-align: right !important;
}

.resume-form-bg {
    min-height: inherit;
    background: url('../img/form-bg.png');
    background-repeat: no-repeat;
    background-size: 50%;
}

.upload-resume h3 {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: right;
}

.submit-your-resume {
    min-height: 600px;
    background: url('../img/connect-logo.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.upload-resume-heading {
    position: relative
}

.upload-resume p {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
    color: #6E6E70;
    ;
}

.who-we-are {
    padding-top: 80px;
    background: url('../img/who-we-are-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-position-y: -250px;
    background-size: 65%
}

#r-form {
    overflow-y: hidden;
    width: 100%;
}

.form-group {
    margin-top: 25px;
}

.form-group label {
    margin-bottom: 10px;
}

.form-group input {
    height: 50px;
    border-radius: 0px;
    ;
}

.form-group input :focus {
    outline: none;
    outline-color: lightgray;
    border-color: lightgray !important;
}

.form-group input[type='submit'] {
    background-color: #ACCA96;
    color: white;
    border: 0px;
    cursor: not-allowed;
}

.form-group label {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #89B369;
    padding-left: 4px;
}

.image-input img {
    width: 100%;
}

.image-input img:hover {
    cursor: pointer;
}

.subscribe-heading h2 {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F4F4F;
}

.subscribe-heading {
    position: relative;
}

.subscribe-form input {
    width: 300px
}

.subscribe-form button {
    height: 50px;
    background-color: #EB8145;
    border-radius: 0px;
    color: white;
}

.subscribe-form button:hover {
    color: white;
}

.subscribe-email {
    background-image: url('../img/subscribe-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    background-color: #4F4F4F;
    color: white !important;
}

footer h4 {
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #89B369;
}

.footer-logo img {
    margin-top: -25px;
    width: 150px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    margin-bottom: 20px;
}

footer ul li a:hover {
    color: white;
}

footer ul li a {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.social {
    margin: 20px 0px;
    display: flex;
}

.social img {
    width: 30px;
    margin-right: 20px;
}

input[type='email'],
input[type='text'] {
    font-weight: 400;
}

.our-circle-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-circle-image img {
    margin-top: 100px !important;
}

.modal-dialog {
    margin-top: 10% !important;
    max-width: 75vw !important;
}

.dropzone {
    width: 100% !important;
    height: 187px;
    background-image: url('../img/Group\ 382.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 2px dashed lightgray;
    position: relative;
}

.dropzone:active {
    background-image: none !important;
}

::placeholder {
    color: rgb(170, 167, 167) !important;
    opacity: 1;
}

@media(max-width:285px) {
    .landing-text h1 {
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 8px;
    }
    .landing-text h2 {
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text p {
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: justify;
    }
    .landing-button a {
        font-family: Lato;
        font-size: 10px;
        font-style: normal;
        width: 115px;
        height: 40px;
        border-radius: 2px;
        color: white;
        margin-right: 10px;
    }
    .section-heading h2 {
        font-family: Lato;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-button {
        padding-bottom: 100px !important;
    }
    .card {
        margin-top: 25px;
    }
    .who-we-are {
        padding-top: 50px;
        background: url('../img/who-we-are-bg.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-repeat: repeat-y;
        background-position-y: 250px;
        background-size: 100%
    }
    .who-we-are p {
        font-size: 15px;
        text-align: justify;
    }
    .upload-resume h3 {
        font-family: Lato;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
    }
    .upload-resume {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    .upload-resume p {
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #6E6E70;
        ;
    }
    .ruler-4 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 40px;
        height: 4px;
        background: #EB8145;
        border-radius: 100px;
    }
    .subscribe-heading h2 {
        font-family: Lato;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #4F4F4F;
    }
    .subscribe-heading {
        margin-top: 0px !important;
    }
    .subscribe-form input {
        width: 120px;
        height: 35px
    }
    .subscribe-form button {
        height: 35px;
        background-color: #EB8145;
        border-radius: 0px;
        color: white;
    }
    .our-circle-image {
        margin-top: -100px
    }
    .footer-logo img {
        margin-top: 5px;
        width: 120px;
    }
    .nav-header {
        background-image: url('../img/header-backround.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 450%;
    }
    .resume-form-bg {
        min-height: inherit;
        background: url('../img/form-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }
    #r-form {
        width: 100%;
    }
}

@media(min-width:290px) {
    .landing-text h1 {
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 8px;
    }
    .landing-text h2 {
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text p {
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: justify;
    }
    .landing-button a {
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        width: 125px;
        height: 40px;
        border-radius: 2px;
        color: white;
        margin-right: 10px;
    }
    .section-heading h2 {
        font-family: Lato;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-button {
        padding-bottom: 100px !important;
    }
    .card {
        margin-top: 25px;
    }
    .who-we-are {
        padding-top: 50px;
        background: url('../img/who-we-are-bg.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-repeat: repeat-y;
        background-position-y: 250px;
        background-size: 100%
    }
    .who-we-are p {
        font-size: 15px;
        text-align: justify;
    }
    .upload-resume h3 {
        font-family: Lato;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
        letter-spacing: 0em;
        text-align: left;
    }
    .upload-resume {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    .upload-resume p {
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #6E6E70;
        ;
    }
    .ruler-4 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 40px;
        height: 4px;
        background: #EB8145;
        border-radius: 100px;
    }
    .subscribe-heading h2 {
        font-family: Lato;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #4F4F4F;
    }
    .subscribe-heading {
        margin-top: 0px !important;
    }
    .subscribe-form input {
        width: 160px;
        height: 35px
    }
    .subscribe-form button {
        height: 35px;
        background-color: #EB8145;
        border-radius: 0px;
        color: white;
    }
    .our-circle-image {
        margin-top: -100px
    }
    .footer-logo img {
        margin-top: 5px;
        width: 120px;
    }
    .nav-header {
        background-image: url('../img/header-backround.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 250%;
    }
    .resume-form-bg {
        min-height: inherit;
        background: url('../img/form-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }
}

@media(min-width:340px) {
    .landing-text h1 {
        font-family: Lato;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 15px;
    }
    .landing-text h2 {
        font-family: Lato;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text p {
        font-family: Lato;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: justify;
    }
    .landing-button a {
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        width: 150px;
        height: 40px;
        border-radius: 2px;
        color: white;
        margin-right: 10px;
    }
    .section-heading h2 {
        font-family: Lato;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-button {
        padding-bottom: 100px !important;
    }
    .card {
        margin-top: 25px;
    }
    .who-we-are {
        padding-top: 50px;
        background: url('../img/who-we-are-bg.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-repeat: repeat-y;
        background-position-y: 250px;
        background-size: 100%
    }
    .upload-resume h3 {
        font-family: Lato;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
        letter-spacing: 0em;
        text-align: left;
    }
    .upload-resume {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    .upload-resume p {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #6E6E70;
        ;
    }
    .ruler-4 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 40px;
        height: 4px;
        background: #EB8145;
        border-radius: 100px;
    }
    .subscribe-heading h2 {
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #4F4F4F;
    }
    .subscribe-heading {
        margin-top: 0px !important;
    }
    .subscribe-form input {
        width: 200px;
        height: 40px
    }
    .subscribe-form button {
        height: 40px;
        background-color: #EB8145;
        border-radius: 0px;
        color: white;
    }
    .our-circle-image {
        margin-top: -100px
    }
    .footer-logo img {
        margin-top: 5px;
        width: 150px;
    }
    .nav-header {
        background-image: url('../img/header-backround.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 270%;
    }
    .resume-form-bg {
        min-height: inherit;
        background: url('../img/form-bg.png');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: -10px;
    }
}

@media(min-width:750px) {
    .landing-text h1 {
        font-family: Lato;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 15px;
    }
    .landing-text h2 {
        font-family: Lato;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text p {
        font-family: Lato;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: justify;
    }
    .landing-button a {
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        width: 150px;
        height: 40px;
        border-radius: 2px;
        color: white;
        margin-right: 10px;
    }
    .section-heading h2 {
        font-family: Lato;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    .section-content p {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #6E6E70;
        padding-right: 60px;
    }
    .landing-button {
        padding-bottom: 100px !important;
    }
    .card {
        margin-top: -25px;
    }
    .who-we-are {
        padding-top: 50px;
        background: url('../img/who-we-are-bg.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-repeat: repeat-y;
        background-size: 100%
    }
    .upload-resume h3 {
        font-family: Lato;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
        letter-spacing: 0em;
        text-align: left;
    }
    .upload-resume {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    .upload-resume p {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #6E6E70;
        ;
    }
    .ruler-4 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 40px;
        height: 4px;
        background: #EB8145;
        border-radius: 100px;
    }
    .subscribe-heading h2 {
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #4F4F4F;
    }
    .subscribe-heading {
        margin-top: 0px !important;
    }
    .subscribe-form input {
        width: 200px;
        height: 40px
    }
    .subscribe-form button {
        height: 40px;
        background-color: #EB8145;
        border-radius: 0px;
        color: white;
    }
    .nav-header {
        background-image: url('../img/header-backround.png');
        background-repeat: no-repeat;
        background-position: left up;
        background-size: 95%;
    }
    .resume-form-bg {
        min-height: inherit;
        background: url('../img/form-bg.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: -10px;
    }
    header {
        height: 60vh;
        display: flex;
        align-items: center;
        position: relative;
    }
    .footer-logo img {
        margin-top: -25px !important;
        width: 150px;
    }
    .our-circle-image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #r-form {
        width: 90% !important;
    }
}

@media(min-width:1000px) {
    .landing-text h1 {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text h2 {
        font-family: Lato;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text p {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-button a {
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        width: 150px;
        height: 40px;
        border-radius: 2px;
        color: white;
        margin-right: 10px;
    }
    .section-heading h2 {
        font-family: Lato;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-button {
        padding-bottom: 100px !important;
    }
    .card {
        margin-top: -25px;
    }
    .who-we-are {
        padding-top: 80px !important;
        background: url('../img/who-we-are-bg.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 65%
    }
    .upload-resume h3 {
        font-family: Lato;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
        letter-spacing: 0em;
        text-align: left;
    }
    .upload-resume {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    .upload-resume p {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #6E6E70;
        ;
    }
    .ruler-4 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 40px;
        height: 4px;
        background: #EB8145;
        border-radius: 100px;
    }
    .subscribe-heading h2 {
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #4F4F4F;
    }
    .subscribe-heading {
        margin-top: 0px !important;
    }
    .subscribe-form input {
        width: 280px;
        height: 50px
    }
    .subscribe-form button {
        height: 50px;
        background-color: #EB8145;
        border-radius: 0px;
        color: white;
    }
    .nav-header {
        background-image: url('../img/header-backround.png');
        background-repeat: no-repeat;
        background-position: left up;
        background-size: 105%;
    }
    .resume-form-bg {
        min-height: inherit;
        background: url('../img/form-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        background-size: 50%;
        background-position: -10px;
    }
    header {
        height: 65vh;
        display: flex;
        align-items: center;
        position: relative;
    }
    .footer-logo img {
        margin-top: -25px !important;
        width: 150px;
    }
}

@media(min-width:1200px) {
    .landing-text h1 {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text h2 {
        font-family: Lato;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text p {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-button a {
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        width: 200px;
        height: 50px;
        border-radius: 2px;
        color: white;
        margin-right: 10px;
    }
    .section-heading h2 {
        font-family: Lato;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-button {
        padding-bottom: 100px !important;
    }
    .card {
        margin-top: -25px;
    }
    .who-we-are {
        padding-top: 80px !important;
        background: url('../img/who-we-are-bg.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-position-y: -250px;
        background-size: 65%
    }
    .upload-resume h3 {
        font-family: Lato;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
        letter-spacing: 0em;
        text-align: right;
    }
    .upload-resume {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .upload-resume p {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: right;
        color: #6E6E70;
        max-width: 445px;
        margin-left: auto;
    }
    .upload-resume-heading {
        position: relative;
    }
    .ruler-4 {
        position: absolute;
        left: 53%;
        top: 0px;
        width: 40px;
        height: 4px;
        background: #EB8145;
        border-radius: 100px;
    }
    .subscribe-heading h2 {
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #4F4F4F;
    }
    .subscribe-heading {
        margin-top: 0px !important;
    }
    .subscribe-form input {
        width: 360px;
        height: 50px;
    }
    .subscribe-form button {
        height: 50px;
        background-color: #EB8145;
        border-radius: 0px;
        color: white;
    }
    .nav-header {
        background-image: url('../img/header-backround.png');
        background-repeat: no-repeat;
        background-position: left up;
        background-size: 68%;
    }
    .resume-form-bg {
        min-height: inherit;
        background: url('../img/form-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        background-size: 50%;
        background-position: -10px;
    }
    header {
        height: 70vh;
        display: flex;
        align-items: center;
        position: relative;
    }
    .footer-logo img {
        margin-top: -25px !important;
        width: 150px;
    }
}

@media(min-width:1300px) {
    .landing-text h1 {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text h2 {
        font-family: Lato;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text p {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-button a {
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        width: 200px;
        height: 50px;
        border-radius: 2px;
        color: white;
        margin-right: 10px;
    }
    .section-heading h2 {
        font-family: Lato;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-button {
        padding-bottom: 100px !important;
    }
    .card {
        margin-top: -25px;
    }
    .who-we-are {
        padding-top: 80px;
        background: url('../img/who-we-are-bg.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-position-y: -250px;
        background-size: 65%
    }
    .upload-resume h3 {
        font-family: Lato;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
        letter-spacing: 0em;
        text-align: right;
    }
    .upload-resume {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .upload-resume p {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: right;
        color: #6E6E70;
        max-width: 445px;
        margin-left: auto;
    }
    .upload-resume-heading {
        position: relative;
    }
    .ruler-4 {
        position: absolute;
        left: 53%;
        top: 0px;
        width: 40px;
        height: 4px;
        background: #EB8145;
        border-radius: 100px;
    }
    .subscribe-heading h2 {
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #4F4F4F;
    }
    .subscribe-heading {
        margin-top: 0px !important;
    }
    .subscribe-form input {
        width: 360px;
        height: 50px
    }
    .subscribe-form button {
        height: 50px;
        width: 130px;
        background-color: #EB8145;
        border-radius: 0px;
        color: white;
    }
    .nav-header {
        background-image: url('../img/header-backround.png');
        background-repeat: no-repeat;
        background-position: left up;
        background-size: 65%;
    }
    .resume-form-bg {
        min-height: inherit;
        background: url('../img/form-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        background-size: 50%;
        background-position: -10px;
    }
    header {
        height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
    }
    .footer-logo img {
        margin-top: -25px !important;
        width: 150px;
    }
}

@media(min-width:1400px) {
    .landing-text h1 {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text h2 {
        font-family: Lato;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-text p {
        font-family: Lato;
        font-size: 18px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-button a {
        font-family: Lato;
        font-size: 17px;
        font-style: normal;
        width: 200px;
        height: 50px;
        border-radius: 2px;
        color: white;
        margin-right: 10px;
    }
    .section-heading h2 {
        margin-top: 40px;
        font-family: Lato;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
    }
    .landing-button {
        padding-bottom: 100px !important;
    }
    .card {
        margin-top: 20px;
    }
    .who-we-are {
        padding-top: 80px;
        background: url('../img/who-we-are-bg.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-position-y: -250px;
        background-size: 65%
    }
    .upload-resume h3 {
        font-family: Lato;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
        letter-spacing: 0em;
        text-align: right;
    }
    .upload-resume {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .upload-resume p {
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: right;
        color: #6E6E70;
        max-width: 445px;
        margin-left: auto;
    }
    .upload-resume-heading {
        position: relative;
    }
    .ruler-4 {
        position: absolute;
        left: 60%;
        top: 0px;
        width: 40px;
        height: 4px;
        background: #EB8145;
        border-radius: 100px;
    }
    .subscribe-heading h2 {
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #4F4F4F;
    }
    .subscribe-heading {
        margin-top: 0px !important;
    }
    .subscribe-form input {
        width: 450px;
        height: 50px
    }
    .subscribe-form button {
        width: 110px;
        height: 50px;
        background-color: #EB8145;
        border-radius: 0px;
        color: white;
    }
    .nav-header {
        background-image: url('../img/header-backround.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 70%;
    }
    .resume-form-bg {
        min-height: inherit;
        background: url('../img/form-bg.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: -10px;
    }
    header {
        height: 65vh;
        display: flex;
        align-items: center;
        position: relative;
    }
    .footer-logo img {
        margin-top: -25px !important;
        width: 150px;
    }
}

main p {
    font-size: 16px !important;
}